#cart {
    
    h1 {
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 2rem;
        line-height: 40px;
        text-transform: uppercase;
        margin-bottom: 40px;
    }
}