#category {
    h2 {
        text-transform: capitalize;
    }
    ul {
        margin-top: 103px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 40px;
        row-gap: 103px;
        list-style: none;
    }
}