#product {
    display: flex;

    .preview-images {
        display: flex;
        flex-direction: column;
        gap: 40px;

        img {
            width: 80px;
            height: 80px;
        }
    }

    .preview {
        width: auto;
        height: 511px;
        margin-left: 40px;
    }

    main {
        margin-left: 100px;
        width: 292px;

        span {
            display: block;
            margin-bottom: 8px;
            margin-top: 40px;
            font-family: Roboto Condensed;
            font-style: normal;
            font-weight: bold;
            font-size: 1.125rem;
            text-transform: uppercase;
            line-height: 18px;
        }

        p:last-of-type {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 1rem;
            line-height: 159.96%;
            text-transform: none;
        }
    }
}