@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&family=Roboto&family=Roboto+Condensed:wght@700&family=Source+Sans+Pro&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: #fff;
    color: #1D1F22;
}

body, input, button {
    font: 400 16px 'Raleway', sans-serif;
}