* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#root {
    margin: 0 auto;
    padding-bottom: 50px;
}

body {
    background: #fff;
    color: $dark-gray;
}

body, input, button {
    font: 400 16px 'Raleway', sans-serif;
    color: $dark-gray;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

section {
    padding: 0 100px;
    max-width: 1440px;
    margin: 80px auto 0;
}

// [disabled] {
//     opacity: 0.6;
//     cursor: not-allowed;
// }